/* General */
body {
  margin: 0px;
}
a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}
.bold {
  font-weight: 700;
}
/* AppBar.js */
@media screen and (max-width: 313.98px) {
  .css-1ido6c7-MuiInputBase-root {
    width: 63%;
  }
}
/* SingleMovie.js */
.stars {
  display: inline-block;
  margin-left: 1.5em;
  color: #f3d863;
  font-size: 2em;
  cursor: pointer;
}
