body {
  margin: 0px;
}
a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}
.bold {
  font-weight: 700;
}
.stars {
  display: inline-block;
  margin-left: 1.5em;
  color: #f3d863;
  font-size: 2em;
  cursor: pointer;
}
/* input */
/* .css-1ido6c7-MuiInputBase-root {
  background-color: red;
} */
